@page
@model ProductModel
@{
}
<table class="table" style="text-align: center">
	<tr>
		<th>
			<a>Name</a>
		</th>
		<th>
			<a>EAN</a>
		</th>
		<th>
			<a>Quantity</a>
		</th>
	</tr>

	@foreach (var product in Model.Products)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => product.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => product.EAN)
			</td>
			<td>
				@Html.DisplayFor(modelItem => product.TotalQuantity)
			</td>
			<td>
				<form id="changeStock" method="post" asp-page-handler="ChangeStock">
					<button type="submit" name="MerchantProductNo" form="changeStock" class="btn btn-danger btn-rounded btn-sm my-0" value="@product.MerchantProductNo">Set stock to 25</button>
				</form>
			</td>
		</tr>
	}
</table>